.crew-body {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.crew {
  font-family: "Barlow Condensed";
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.72px;
  line-height: 34px;
  width: 30%;
  color: #ffff;
  margin-left: 165.5px;
  margin-top: 76px;

  &--number {
    margin-right: 9px;
    font-weight: bold;
    letter-spacing: 2.7px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

.crew-content {
  .crew-dude {
    float: right;
    height: 712px;
    width: auto;
    margin-right: 186.56px;

    &__rank {
      font-family: "Bellefair";
      font-size: 32px;
      font-weight: 400;
      font-style: normal;
      margin-top: 154px;
      margin-left: 190px;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    &__name {
      font-family: "Bellefair";
      font-size: 56px;
      font-weight: 400;
      font-style: normal;
      color: #ffffff;
      height: 64px;
      width: 614px;
      margin-top: 15px;
      margin-left: 190px;
    }

    &__desc {
      height: 128px;
      width: 350px;
      font-family: "Barlow Condensed";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      color: #d0d6f9;
      margin-top: 27px;
      margin-left: 190px;
    }
  }
}

.nav-crew {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__dots {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 120px;
    margin-left: 190px;
  }

  &__dot--list {
    cursor: pointer;
  }

  .nav-crew__dot {
    position: absolute;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: #979797;

    &:hover {
      background-color: #ffff;

      &:after {
        transition: all 1s ease-out;
      }
    }

    &:focus {
      background-color: #ffff;
    }
  }
}
